.logo {
  height: 175px;
  width: 150px;
}

.jj {
  background-color: #98c894;
}

.jj1 {
  background-color: #f8f8f8;
  color: white;
}
.jj2 {
  background-color: #98c894;
}
p {
  color: black;
  font-family: "Kalam", cursive;
  font-size: 25px;
}
h3 {
  color: black;
  font-family: "Kalam", cursive;
}
li {
  color: black;
  font-family: "Kalam", cursive;
  font-size: 25px;
}

#reservationlist {
  color: rgb(0, 0, 0);
  font-family: "Kalam", cursive;
  font-size: 25px;
}
