.logo {
  height: 175px;
  width: 150px;
}

.jj {
  background-color: #fcca46;
}

.jj1 {
  background-color: #fe7f2d;
  color: white;
}
<<<<<<< HEAD

/* Button back to top */
=======
.jj2{
  background-color: #FCCA46;
}
>>>>>>> 00db496c5f123a6d4b700b6094661277a7c88c79
